.Input_mode_2 {
  padding: 10px;
  width: 80%;

  line-height: 20px;
  border-radius: 5px;
  border: 1px solid #bac4da;

  transition: all 0.3s ease;
}

.Input_mode_2:hover {
  border: 1px solid #000;
  box-shadow: 5px 5px 5px #000;
}

.Input_mode_2:focus {
  background-color: lightgreen;
  border: 1px solid #000;
  box-shadow: 5px 5px 5px #000;
}
