.Button_mode_2 {
  background-color: #588ef1;
  color: #fff;
  border-radius: 20px;

  transition: background-color 0.3s ease;
}

.Button_mode_2:hover {
  background-color: lightskyblue;
  color: #fff;
}

@media (max-width: 600px) {
  .Button_mode_2 {
    width: 80px;
    height: 30px;
    font-size: 10px;
  }
}
